
@{
    ViewData["Title"] = "Display";
}

<<h1>Submitted Student Details</h1>

<p><strong>Name:</strong> @ViewBag.Name</p>
<p><strong>Roll Number:</strong> @ViewBag.RollNum</p>
<p><strong>Branch:</strong> @ViewBag.Branch</p>
<p><strong>Current Year:</strong> @ViewBag.CurrentYear</p>

